@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lato {
  font-family: "Lato", sans-serif; /* Specify the Lato font family */
}

.font-nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}

.font-montserrat{
  font-family: "Montserrat",sans-serif;
}

.auth-form-container {
  @apply flex flex-col justify-center sm:flex-row items-center sm:w-4/5 sm:mx-auto mt-24 gap-12 sm:gap-8;
}

.auth-form-group {
  @apply flex flex-col items-center gap-4 text-center mx-auto px-4 py-16 border-gray-300 shadow-md  sm:w-full md:w-[50%] rounded-xl;
}

.loading-btn {
  @apply flex items-center mx-auto gap-1.5 opacity-80;
}

.skeleton-loading {
  @apply w-4/5 mx-auto mt-16;
}

.icon {
  @apply flex gap-2 w-full cursor-pointer;
}

.active {
  color: #007bff; /* Primary blue color */
  font-weight: bold;
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid #007bff; /* Distinctive underline */
  padding-bottom: 5px; /* Add space for visual separation */
}
