@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: "Poppins", sans-serif; /* Specify the Lato font family */
}

.auth-form-container {
  @apply flex flex-col justify-center h-screen sm:flex-row items-center sm:w-4/5 sm:mx-auto gap-12 sm:gap-8;
}

.auth-form-group {
  @apply flex flex-col items-center gap-4 text-center mx-auto px-4 py-8 shadow-lg sm:w-full md:w-[50%] rounded-xl;
}

.loading-btn {
  @apply flex items-center mx-auto gap-1.5 opacity-80;
}

.skeleton-loading {
  @apply w-4/5 mx-auto mt-16;
}

.nav-item{
  @apply flex items-center gap-2 text-sm
}

.icon {
  @apply flex gap-2 w-full cursor-pointer;
}

.active {
  color: #007bff; /* Primary blue color */
  font-weight: bold;
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid #007bff; /* Distinctive underline */
  padding-bottom: 5px; /* Add space for visual separation */
}
