@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&display=swap');
:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

.center{
  text-align: center;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  margin: 0;
}


.post-container{
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 1rem;
}


/* HomePageContainer.scss */
.post-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 800px) {
  .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    grid-gap: 16px;
  }
}

@media (min-width: 1280px) {
  .post-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjusted grid for larger screens */
  }
}

/* Header.scss */

.dp-wrapper{
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.dp-wrapper img{
  width: 100%;
  display: block;
}

.header {
  background-color: #007bff; /* Header background color */
  color: #fff; /* Text color */
  padding: 0 24px; /* Spacing around content */

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px; /* Spacing between navigation items */

    .home,.create {
      color: inherit; /* Inherit text color from the parent (.header) */
      text-decoration: none;
      font-weight: bold;
      padding: 10px 10px; /* Spacing around navigation items */
      border-radius: 5px; /* Rounded corners for buttons and links */
      transition: background-color 0.3s ease;
      font-size: 1.2rem;
      margin-right: 2rem;
      &:hover {
        background-color: #0056b3; /* Hover background color */
      }
    }
  }

  @media (max-width: 800px) {
    /* Mobile-first responsive adjustments */
    flex-direction: column;
    text-align: center;

    .nav {
      flex-direction: column;
      gap: 8px;
    }

    .logout-btn {
      margin-top: 12px;
    }
  }
}


// Search Bar CSS


.search-bar{
  // background-color: red;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .search-bar-input{
    margin-top: 1rem;
  }
}


// Login and Sign up form CSS
// LoginForm.scss

.form-group {
  margin: 3rem auto;
  max-width: 360px; // Adjust the maximum width as needed
  padding: 4rem 1rem 3rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  // Media query for tablets
  @media screen and (min-width: 768px) {
    max-width: 380px; // Increase max-width for tablets
  }

  // Media query for desktops
  @media screen and (min-width: 1024px) {
    max-width: 500px; // Increase max-width for desktops
  }

  span {
    display: block;
    margin-top: 10px;
    color: #333; // Text color

    a {
      color: #007BFF; // Link color
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}




// InputTag.scss
.input-container {
  margin-bottom: 1rem;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 1.1rem;
    color: #333; // Text color
  }

  .input {
    // width: 90%;
    padding: 10px;
    font-family: "Poppins",sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem; // Default font size
    // color: #555; // Text color

    &::placeholder {
      color: #999; // Placeholder text color
    }

    &:focus {
      outline: none;
      border-color: #007BFF; // Border color on focus
    }
  }

  // Media query for tablets
  @media screen and (min-width: 768px) {
    .input {
      width: 300px; // Reduce width for tablets to prevent overflow
      padding: 12px; // Increase padding for tablets
    }
  }

  // Media query for desktops
  @media screen and (min-width: 1024px) {
    .input {
      width: 350px; // Reduce width for desktops to prevent overflow
      padding: 14px; // Increase padding for desktops
    }
  }
}




/* PostCard.scss */
.post-card {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .post-title,
  .post-description,
  .post-details,
  .post-author {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
  }

  .post-date{
    display: block;
    text-align: right;
  }

  .post-author {
    font-size: 0.9rem;
    color: #666;
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    .post-tag {
      background-color: #007bff;
      color: #fff;
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      border-radius: 4px;
      margin-bottom: 0.5rem;
    }
  }

  @media (min-width: 800px) {

    .post-title,
    .post-description,
    .post-details,
    .post-author,
    .post-tag {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1280px) {
    .post-tag {
      font-size: 1rem;
    }
  }

  @media (min-width: 1440px) {
    .post-tag {
      font-size: 1.2rem;
    }
  }
}


// custom btn
/* Button.scss */

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 1rem; /* Default font size for mobile */
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  outline: none;

  &:hover {
    background-color: #0056b3;
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  @media (min-width: 800px) {
    /* Adjust font size and padding for larger screens */
    font-size: 1.2rem;
    padding: 14px 28px;
  }

  @media (min-width: 1280px) {
    padding: .8rem 1rem;
    margin: 1rem;
    font-size: 1.1rem;
    /* Further adjustments for wider screens if needed */
  }
}

// Full Single Post 

// .my-single-post {
//   padding: 16px;
//   background-color: #ffffff;
//   box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
//   border-radius: 8px;
//   margin: 16px;

//   h3 {
//     font-size: 24px;
//     margin-bottom: 8px;
//   }

//   p {
//     font-size: 16px;
//     margin-bottom: 12px;
//   }

//   div {
//     display: flex;
//     flex-wrap: wrap;

//     button {
//       background-color: #007bff;
//       color: #fff;
//       border: none;
//       border-radius: 4px;
//       padding: 6px 12px;
//       margin-right: 8px;
//       margin-bottom: 8px;
//       cursor: pointer;
//       font-size: 14px;
//     }
//   }

//   @media (min-width: 768px) {
//     // Add styles for tablets and larger screens
//     max-width: 768px;
//     margin: 0 auto;

//     h3 {
//       font-size: 28px;
//     }

//     p {
//       font-size: 18px;
//     }

//     div {
//       button {
//         font-size: 16px;
//       }
//     }

//     // Show the author's username when 'show' is true
//     h4 {
//       display: block;
//       font-size: 20px;
//       margin-top: 16px;
//     }
//   }

  

// }


$font-size-h3-mobile: 22px;
$font-size-p-mobile: 14px;
$font-size-button-mobile: 14px;

$font-size-h3-tablet: 26px;
$font-size-p-tablet: 16px;
$font-size-button-tablet: 16px;

$font-size-h3-desktop: 28px;
$font-size-p-desktop: 18px;
$font-size-button-desktop: 18px;

.my-single-post {
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: $font-size-h3-mobile;
    margin-bottom: 10px;
  }

  p {
    font-size: $font-size-p-mobile;
    margin-bottom: 15px;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      margin-right: 10px;
      cursor: pointer;
      font-size: $font-size-button-mobile;
    }

    button:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 768px) {
    max-width: 768px;

    h3 {
      font-size: $font-size-h3-tablet;
    }

    p {
      font-size: $font-size-p-tablet;
    }

    div {
      button {
        font-size: $font-size-button-tablet;
      }
    }

    h4 {
      display: block;
      font-size: 20px;
      margin-top: 20px;
    }

    @media (min-width: 1024px) {
      h3 {
        font-size: $font-size-h3-desktop;
      }

      p {
        font-size: $font-size-p-desktop;
      }

      div {
        button {
          font-size: $font-size-button-desktop;
        }
      }
    }
  }
}



// Create Post 

// // Variables
// $primaryColor: #007bff;
// $borderColor: #ccc;

// // Mixins
// @mixin flexCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// // Mobile-First Styles
// .form-container {
//   margin: 2rem auto;
//   width: 80%;
//   padding: 2rem;
// }

// form {
//   background-color: #f5f5f5;
//   border: 1px solid $borderColor;
//   padding: 1rem;
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   font-family: 'Raleway',sans-serif;
// }

// label {
//   font-weight: bold;
// }

// input[type="text"],
// textarea {
//   border: 1px solid $borderColor;
//   padding: 0.5rem;
//   margin: 0.5rem 0;
//   border-radius: 3px;
//   width: 100%;
//   font-family: 'Raleway',sans-serif;
// }

// button {
//   background-color: $primaryColor;
//   color: white;
//   border: none;
//   padding: 0.5rem 1rem;
//   margin-top: 1rem;
//   border-radius: 3px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: darken($primaryColor, 10%);
//   }
// }

// // Tablet and Desktop Styles
// @media (min-width: 768px) {
//   .form-container {
//     display: flex;
//     justify-content: center;
//   }

//   form {
//     width: 50%;
//     margin: 2rem;
//   }
// }



.delete-btn{
  background-color: red;
  font-size: 1rem;
  &:hover{
    background-color: #333;
  }
}

.update-btn{
  background-color: #007BFF;
  font-size: 1rem;
}

.edit-div{
  position: absolute;
  top: 5rem;
  right: 1rem;
}




// Create Post 
// Variables
$primaryColor: #007bff;
$borderColor: #ccc;
$background: #f0f0f0; // Better background color
$padding: 1rem 2rem; // Improved padding

// Mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mobile-First Styles
.form-container {
  margin: 1rem auto 0 auto;
  width: 80%;
  padding: $padding; // Improved padding
  
  form {
  background-color: $background; // Better background color
  border: 1px solid $borderColor;
  padding: $padding; // Improved padding
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

label {
  font-weight: bold;
  font-size: 1.1rem;
}

input[type="text"],
textarea {
  border: 1px solid $borderColor;
  padding: 0.5rem;
  margin: 0.5rem 0;
  resize: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1.05rem;
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: $primaryColor;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.01rem;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
}

// Tablet Styles (1024px)
@media (min-width: 1024px) {
  .form-container {
    width: 70%; // Adjust width for tablet screens
  }
}

// Desktop Styles (1280px)
@media (min-width: 1280px) {
  .form-container {
    width: 60%; // Adjust width for desktop screens
  }
}

// Large Desktop Styles (1440px)
@media (min-width: 1440px) {
  .form-container {
    width: 50%; // Adjust width for large desktop screens
  }
}

}

.visit-profile-btn{
  padding: .5rem;
  margin-top: 1rem;
  background-color: lightcoral;
}

// .save-post-btn{
// }

// Delete modal


/* DeleteModal.module.scss */

.deleteModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;

    h2 {
      margin-bottom: 20px;
    }

    button {
      margin: 8px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:first-child {
        background-color: #ddd;
      }

      &:last-child {
        background-color: #f44336;
        color: white;

        &:hover {
          background-color: darken(#f44336, 10%);
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .deleteModal .modalContent {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .deleteModal .modalContent {
    max-width: 800px;
  }
}

@media screen and (min-width: 1280px) {
  .deleteModal .modalContent {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1440px) {
  .deleteModal .modalContent {
    max-width: 1200px;
  }
}

/* Styles for the modal */
.modal {
  position: absolute;
  right: 5px;   /* Position to the right of the page */
  border-radius: 5px;
  z-index: 999;
  color: black;
}


.modal-content {
  padding: 1rem;
  display: flex;
  margin-top: 2px;
  flex-direction: column;
  box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  background-color: white;
}
.logout-btn {
  background-color: white; /* Logout button background color */
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.modal-content a,.logout-btn{
  color: inherit; /* Inherit text color from the parent (.header) */
  text-decoration: none;
  font-weight: bold;
  padding: 10px 10px; /* Spacing around navigation items */
  border-radius: 5px; /* Rounded corners for buttons and links */
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  &:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
}


/* Styling for the View Profile button in the header */
.view-profile-button {
  background-color: #007BFF;
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Styling for the Close button in the modal */
